

.webpage{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	border:0;
	display: none;
}


.cover{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width:  100%;
	position: fixed;
}